<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="styleSheet" href="css/login.css">
</head>
<body>
	<div class="login-container">
		<form action="login.do" method="post">
			<a href="main.go"><img src="img/MainLogo.png" alt="로고 이미지"></a>
			<input type="text" placeholder="아이디를 입력하세요" name="email" required autocomplete="none">
			<input type="password" placeholder="관리자 인증번호를 입력하세요" name="pw" required autocomplete="none">
			<button type="submit">인증</button>
		</form>
	</div>
</body>
</html>